/*body{*/
	/*background-color: #f5f5f5;*/
/*}*/
#main{
	margin:0px none;
	padding:0px none;
	background:#f5f5f5;
	width:100%;
	height:100%;
}		
.alertBox{
	height:122px;
	width:100%; 
	padding:50px 0px 10px 0px;
	border:0px solid #FF6600; 
	text-align:center;
	
}
.Box{
/*	border: 1px solid black;*/
	margin:0px auto;
	width:423px;
	height:100%;
	background:white;
	padding-bottom:1px;
}
.titleBox{
	
	padding-bottom:20px;
	background:#f5f5f5;

}
.contentBox{
	background:white;
	
}
.pm{
color:#333333;
font-size:20px;
margin:0px 0px 0px 0px;
}
.input-group{
	width:360px;
/*	border:1px solid;*/
	margin-left:36px;
	background:white;
	height:230px;
}
.lable-div{
	height:20px;
}
.label-control-00{
	color:red;
	display:inline;
	line-height:20px;
	font-size:10px;	
	font-weight:normal;
}
.form-control-00{
	margin-top:30px;
	margin-bottom:30px;
	height:40px;	
}
.btn-group-00{
	margin:10px 30px 30px 36px;
	padding:0px 0px;
	width:360px;
	height:42px;
	background:white;
	
}

	.btn-group-01{
		width:170px;
		float:left;

	}
	.btn-group-02{
		width:170px;
		float:right;

	}
	.btn0{
		width:170px;
		border:0px none;
	}
	#btn01{
		background:#999;
	}
	#btn01:hover{
		background:#666;
	}
	#btn02{
		background:#29abe2;
		color:white;
	}
	#btn02:hover{
		background:#1998ce;
	}
#alert-success{
		width:100%; 
		height:50px;
		border:0px;
		float:left;
		font-size:12pt;
	
}
#alert-fail{
		width:100%; 
		height:50px;
		border:0px;
		float:left;
		font-size:12pt;
}