.pagination a,.pagination span{
	display: inline;
	float: none;
}
.pagination a, .pagination span{
	padding:0.5em 1em;
}
.pagination a{
	border:1px solid #e5e5e5;
	color: #666;
	border-radius: 3px;
}
.pagination span.current{
	border-radius: 3px;
	background: #29abe2;
}
.pagination{
	width: 100%;
	text-align: right;
	margin-bottom: 0px;
}
#mobileItemDetail {
	display: none;
}
#dataitem {
	overflow:auto;
	padding: 0px;
	margin-top: 50px;
}
#dataitem-left{
	width: 75%;
	padding-right: 20px;
	float: left;
}
#dataitem-right{
	width: 25%;
	padding-left: 20px;
	float: right;
}
#dataitem-head {
	min-height: 50px;
	background-color: #f7fafc;
	margin-bottom: 30px;
	overflow: hidden;
}
#dataitem-head-left {
	font-size: 0px;
	margin-top: 12px;
}
#dataitem-head-left span{
	display: inline-block;
	font-size: 20px;
	color: #0077aa;
}
#dataitem-head-left .line {
	color: #333;
}
#dataitem-head-left .repname:hover{
	text-decoration: underline ;
	cursor: pointer;
}
#dataitem-head-left .icon {
	background-image: url("../images/sliceU1.png");
	background-repeat: no-repeat;
	background-position: -376px -3px;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 2px;
	margin-bottom: -2px;
}
#dataitem-head-left a, #dataitem-head-left>span {
	width: auto;
	font-size: 20px;
	color: #29abe2;
}
#authority-dialog {
	width: 420px;
	height: 110px;
	border: 5px solid #e5e5e5;
	background-color: #fff;
	text-align: center;
	z-index: 100;
	position: absolute;
	padding: 25px 0px;
	display: none;
}
#authority-dialog span {
	display: inline-block;
}
#authority-dialog .up .icon {
	background-image: url("../images/emo.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 22px;
	height: 22px;
	margin-right: 5px;
}
#authority-dialog .up {
	font-size: 16px;
	color: #000;
	font-weight: 900;
	line-height: 22px;
	margin-bottom: 10px;
}
#authority-dialog .down {
	font-size: 16px;
	color: #666;
	font-weight: 900;
	line-height: 22px;
}
#authority-dialog .down>span {
	margin-right: 8px;
}
#authority-dialog .down .email {
	color: #29abe2;
	cursor: pointer;
}
#dataitem-head-right {
	font-size: 12px;
	color: #666;
	padding-right: 10px;
	margin-top: 12px;
	margin-bottom: 10px;
	position: relative;
}
#dataitem-head-right span{
	display: inline-block;
}
#dataitem-head-right .star .icon,#dataitem-head-right .subscript .icon {
	font-size: 14px;
	color: #333;
	cursor: pointer;
	background-color: #f5f5f5;
}
#dataitem-head-right .star .icon:hover,#dataitem-head-right .subscript .icon:hover {
	background-color: #e5e5e5;
}
#dataitem-head-right .star .value,#dataitem-head-right .subscript .value {
	font-size: 12px;
	color: #333;
	background-color: #fff;
}
#dataitem-head-right .star>span,#dataitem-head-right .subscript>span {
	padding: 0px 8px;
	border: 1px solid #e5e5e5;
	vertical-align: middle;
}
#dataitem-head-right .star .value,#dataitem-head-right .subscript .value{
	border-left: none;
}
#dataitem-head-right>span {
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
	vertical-align: middle;
}
#dataitem-head-right>span .icon .icon-image, #dataitem-head-right .downloaded .icon {
	margin-right: 3px;
}
#dataitem-head-right .star .icon .gray_star{
	background-image: url("../images/itemdetail_icon.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-bottom: -2px;
}
.red_star {
	background-image: url("../images/red_star.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-bottom: -2px;
}
#dataitem-head-right .subscript .icon .icon-image{
	background-image: url("../images/itemdetail_icon.png");
	background-repeat: no-repeat;
	background-position: -45px 0px;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-bottom: -2px;
}
#dataitem-head-right .downloaded {
	padding-top: 2px;
	padding-bottom: -2px;
}
#dataitem-head-right .downloaded .icon{
	background-image: url("../images/sliceU1.png");
	background-repeat: no-repeat;
	background-position: -125px -8px;
	width: 12px;
	height: 12px;
	margin-top: 2px;
	margin-bottom: -2px;
}
#dataitem-tag .tag-head {
	font-size: 0px;
	color: #fff;
	background-color: #0077aa;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
}
#dataitem-tag .tag-head>span {
	display: inline-block;
	font-size: 14px;
}
#dataitem-tag .tag-head .icon {
	background-image: url("../images/itemicon.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 8px;
	height: 12px;
	/*margin-top: 5px;*/
	/*margin-bottom: -5px;*/
	margin-right: 5px;
}
#dataitem-exemple,#dataitem-metadata {
	border:1px solid #e5e5e5;
	margin-bottom: 30px;
}
#dataitem-exemple .exemple-head, #dataitem-metadata .metadata-head {
	font-size: 14px;
	background-color: #f5f5f5;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}
#show-message {
	width: 180px;
	height: 70px;
	border: 5px solid #e5e5e5;
	font-size: 14px;
	color: #666;
	background-color: #fff;
	text-align: center;
	line-height: 60px;
	z-index: 100;
}
#dataitem-tag #show-message a{
	color: #29abe2;
}
#dataitem-tag #show-message a:hover{
	cursor: pointer;
	text-decoration: underline;
}
#dataitem-tag .tag-body{
	clear: both;
	background-color: #f7fafc;
	padding: 0px 20px 30px;
	border: 1px solid #e5e5e5;
	background-color: #f7fafc;
}
#dataitem-exemple .exemple-body{
	clear: both;
	min-height: 160px;
	background-color: #f7fafc;
	padding: 20px 20px;
}
#dataitem-metadata .metadata-body{
	clear: both;
	min-height: 160px;
	background-color: #f7fafc;
	padding: 20px 20px;
}
#dataitem-tag {
	margin-bottom: 50px;
}
#dataitem-tag .tag-body table{
	clear: both;
	width: 100%;
	font-size: 14px;
	color: #333;
	table-layout:fixed;
}
#dataitem-tag .tag-body tr{
	border-bottom: 1px dotted #e5e5e5;
}
#dataitem-tag .tag-body td{
	word-break: keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	padding: 30px 0px;
	text-align: center;
}
#dataitem-tag .tag-body .tag-1 {
	text-align: left;
}
#dataitem-tag .tag-body .tag-4 {
	padding: 30px 0px;
}
#dataitem-tag .tag-body .tag-4 .plaintext{
	width: 60%;
	height: 22px;
	border: 1px solid #e5e5e5;
	border-right: none;
	padding-left: 5px;
	font-size: 14px;
	color: #333;
	/*margin-right: -4px;*/
}
#dataitem-tag .tag-body .tag-4 .btn{
	width: 48px;
	height: 22px;
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
	font-size: 14px;
	color: #333;
	padding: 0px;
	border-radius: 0px;
	margin-top: -1px;
	margin-bottom: 1px;
}
#dataitem-tag .tag-body .tag-5 {
	text-align: right;
	padding-top:20px;
	padding-bottom: 0px;
	text-align: right;
	font-size: 0px;
}
#dataitem-tag .tag-body .tag-5 .btn {
	border-radius: 0px;
	margin-top: 10px;
	margin-bottom: -10px;
}
#dataitem-tag .tag-body .tag-5 .download {
	font-size: 0px;
	margin-top: 20px;
}
#dataitem-tag .tag-body .tag-5 .download>span {
	font-size: 12px;
	color: #666;
	display: inline-block;
}
#dataitem-tag .tag-body .tag-5 .download .icon {
	background-image: url("../images/sliceU1.png");
	background-repeat: no-repeat;
	background-position: -125px -8px;
	width: 12px;
	height: 12px;
	margin-right: 3px;
	margin-top: 1px;
	margin-bottom: -1px;
}
#dataitem-tag .tag-body .tag-5 .btn{
	width: 68px;
	height: 22px;
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
	font-size: 14px;
	color: #333;
	padding: 0px;
}
#dataitem-tag .tag-body .tag-5 .btn:hover{
	border: none;
	color: #fff;
	background-color: #29abe2;
}
#dataitem-right {
	padding: 20px 0px 20px 20px;
}
#introduce1 {
	padding-bottom: 5px;
}
#introduce1 .introduce1-head {
	font-size: 18px;
	color: #333;
	word-break: keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#introduce1 .introduce1-body {
	font-size: 14px;
	color: #666;
	line-height: 24px;
}
#introduce2 .introduce2-a {
	font-size: 0px;
}
#introduce2 .introduce2-a span {
	font-size: 0px;
}
#introduce2 .introduce2-a>span {
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	color: #666;
}
#introduce2 .a-icon {
	background-image: url("../images/sliceU1.png");
	background-repeat: no-repeat;
	background-position: 0px -7px;
	width: 12px;
	height: 12px;
	margin-right: 3px;
	margin-top: 1px;
	margin-bottom: -1px;
}
#introduce2 .introduce2-a {
	margin-bottom: 10px;
}
#introduce2 .introduce2-b>span {
	display: inline-block;
	height: 20px;
	font-size: 12px;
	color: #fff;
	border-radius: 2px;
	margin-right: 1px;
	padding: 0px 10px;
	line-height: 20px;
}
#introduce2 .introduce2-b {
	clear: both;
	margin-bottom: 10px;
	font-size: 0;
}
#introduce2 .introduce2-c>div{
	border: 1px solid #e5e5e5;
	padding: 10px;
	margin: 0px;
	font-size: 12px;
}
#introduce2 .introduce2-c>div:nth-child(1) {
	margin-bottom: 10px;
}
#introduce2 .introduce2-c .name {
	margin-bottom: 10px;
	color: #333;
}
#introduce2 .introduce2-c .value {
	color: #666
}
#introduce2 .introduce2-c>div div {
	padding: 0px;
	word-break: keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#introduce2 .introduce2-c>div a:hover {
	color: #29abe2;
	text-decoration: underline;
}
#introduce3 .introduce3-icon {
	background-image: url("../images/sliceU1.png");
	background-repeat: no-repeat;
	background-position: -202px -4px;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	float: left;
}
#introduce3 .introduce3-text a{
	font-size: 16px;
	color: #29abe2;
	cursor: pointer;
}
#introduce3 .introduce3-text a:hover {
	text-decoration: underline;
}
#introduce3 {
	margin-top: 20px;
	margin-bottom: 20px;
}
#introduce4 {
	padding-bottom: 10px;
}
#introduce4 .introduce4-head {
	font-size: 18px;
	color: #333;
	margin-bottom: 10px;
}
#introduce4 .introduce4-body>div {
	position: relative;
	width: 250px;
	height: 80px;
	border: 1px solid #e5e5e5;
	padding: 20px 20px 0px 30px;
}
#introduce4 .introduce4-body>div:hover{
	border: 1px solid #29abe2;
	cursor: pointer;
}
#introduce4 .introduce4-body>div:hover .num{
	color: #fff;
	background-color: #29abe2;
}
#introduce4 .introduce4-body>div:hover .name{
	font-size: 16px;
	color: #29abe2;
}
#introduce4 .introduce4-body>div .num {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	text-align: center;
	line-top: 20px;
	background-color: #f5f5f5;
}
#introduce4 .introduce4-body>div .name {
	font-size: 16px;
	color: #666;
}

#subscriptDialog .modal-dialog {
	width: 758px;

}
#subscriptDialog .modal-dialog .modal-content{
	padding: 0px 10px;
	background-color: #f6f9fd;
}

#subscriptDialog .modal-body {
	padding: 30px 30px 10px 30px;
}
#subscriptDialog .modal-body>div {
	margin-bottom: 30px;
}
#subscriptDialog .modal-body .sub0 {
	font-size: 16px;
	color: #000;
}
#subscriptDialog .modal-body .sub0 .itext {
	font-weight: 900;
	border: none;
	outline:none;
	border-bottom: 1px solid #e5e5e5;
	width: 510px;
	background-color: #f6f9fd;
}
#subscriptDialog .modal-body .sub0 .requirera {
	margin-bottom: 20px;
}
#subscriptDialog .modal-body .shead {
	font-size: 16px;
	font-weight: 900;
	color: #000;
	margin-bottom: 20px;
}
#subscriptDialog .modal-body .sbody {
	font-size: 14px;
	color: #333;
	line-height: 24px;
	padding-left: 30px;
}
#subscriptDialog .modal-body .sub2 .sbody>div,#subscriptDialog .modal-body .sub4 .sbody>div {
	margin-bottom: 10px;
}
#subscriptDialog .modal-body .sub3 .charge-head {
	margin-bottom: 10px;
}
#subscriptDialog .modal-body .sub3 .charge-body {
	font-size: 14px;
	color: #333;
	padding: 15px 15px 0px 15px;
	background-color: #f5f5f5;
	border: 1px dotted #e5e5e5;
	line-height: normal;
}
#subscriptDialog .modal-body .sub3 .charge-body>div {
	margin-bottom: 15px;
}
#subscriptDialog .modal-body .sub3 .charge-body .cbtn, #subscriptDialog .modal-body .sub3 .charge-body .cdtitle {
	margin-right: 5px;
}
#subscriptDialog .modal-body .sub3 .charge-body .cvalue {
	margin-right: 10px;
}
#subscriptDialog .modal-body .subdate {
	text-align: right;
	font-weight: 900;
}
#subscriptDialog .modal-body .subbtns {
	text-align: center;
}
#subscriptDialog .modal-body .subbtns input {
	width: 160px;
	height: 40px;
	border: none;
	font-size: 16px;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
}
#subscriptDialog .modal-body .subbtns .cancel {
	background-color: #999999;
}
#subscriptDialog .modal-body .subbtns .cancel:hover {
	background-color: #666666;
}
#subscriptDialog .modal-body .subbtns .submit {
	background-color: #29abe2;
}
#subscriptDialog .modal-body .subbtns .submit:hover {
	background-color: #1998ce;
}
#subscriptDialog .subprocess {
	font-size: 18px;
	color: #333;
	font-weight: 900;
	text-align: center;
	height: 113px;
	line-height: 113px;
}
#subscriptDialog .subprocess .midle {
	color: #29abe2;
}
#subscriptDialog .subafterprocess span {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
#subscriptDialog .subafterprocess>div {
	text-align: center;
	height: 148px;
	padding: 25px 0px 45px 0px;
	font-size: 18px;
	font-weight: 900;
	color: #333;
}
#subscriptDialog .subafterprocess>div .head {
	margin-bottom: 15px;
}
#subscriptDialog .subafterprocess>div .head .icon {
	margin-right: 10px;
}
#subscriptDialog .subafterprocess .successed .head {
	color: #1db506;
}
#subscriptDialog .subafterprocess .failed .head {
	color: #ec6467;
}
#subscriptDialog .subafterprocess .failed .body .email {
	color: #29abe2;
}
#subscriptDialog .subafterprocess .successed .head .icon {
	background-image: url("../images/buy_icon.png");
	background-repeat: no-repeat;
	background-position: -44px 0px;
	width: 26px;
	height: 26px;
}
#subscriptDialog .subafterprocess .failed .head .icon {
	background-image: url("../images/buy_icon.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 26px;
	height: 26px;
}


#dataitem-exemple, #dataitem-metadata {
	word-break: break-all;
}
/*-----------------手机端样式---------------------*/
#mobileItemDetail {
	max-width: 750px;
	min-height: 100%;
	background-color: #f2fafe;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 0.05px;
}
#mobileItemDetail > div {
	background-color: #ffffff;
}
#mobileItemDetail .head {
	padding: 25px 40px;
	font-size: 30px;
	line-height: 38px;
	overflow: hidden;
	border-bottom: 1px solid #d2d2d2;
	background-color: #fff;
}
#mobileItemDetail > .content {
	background-color: #f2fafe;
}
#mobileItemDetail .head .name{
	color: #29abe2;
}
#mobileItemDetail .head span {
	display: inline-block;
	vertical-align: top;
}
#mobileItemDetail .head .iconl {
	background-image: url("../images/itemDetails_mobileItem.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 32px;
	height: 31px;
	margin-top: 0px;
	margin-top: 6px;

}
#mobileItemDetail .head .iconr {
	background-image: url("../images/itemDetails_mobileTriangleR.png");
	background-repeat: no-repeat;
	background-position: -6px -8px;
	width: 17px;
	height: 27px;
	float: right;
	margin: 16px 0px;
}
#mobileItemDetail .desc {
	padding: 30px 0px 0px 40px;
	margin-bottom: 40px;
	background-color: #fff;
}
#mobileItemDetail .desc .comment {
	margin-right: 40px;
	font-size: 22px;
	line-height: 40px;
}
#mobileItemDetail .desc .labels {
	margin-right: 40px;
	padding: 30px 0px;
	border-bottom: 1px solid #d2d2d2;
}
#mobileItemDetail .desc .labels span {
	display: inline-block;
	vertical-align: middle;
	height: 36px;
	line-height: 36px;
	margin-right: 1px;
	padding: 0px 10px;
}
#mobileItemDetail .desc .labels .orilabel {
	background-color: #29abe2;
}
#mobileItemDetail .desc .labels .perlabel {
	background-color: #6ecbcc;
}
#mobileItemDetail .desc .statistics {
	padding: 25px 40px 25px 0px;
	border-bottom: 1px solid #d2d2d2;
	overflow: hidden;
}
#mobileItemDetail .desc .statistics span{
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
}
#mobileItemDetail .desc .statistics .left {
	float: left;
	color: #666666;
}
#mobileItemDetail .desc .statistics .left .icon {
	margin-right: 5px;
}
#mobileItemDetail .desc .statistics .right {
	float: right;
}
#mobileItemDetail .desc .statistics .right .icon{
	margin-right: 5px;
}
#mobileItemDetail .desc .statistics .left > span {
	margin-right: 10px;
}

#mobileItemDetail .desc .statistics .right > span {
	margin-left: 10px;
}
#mobileItemDetail .desc .statistics .left .time .icon {
	background-image: url("../images/time.png");
	background-repeat: no-repeat;
	background-position: -1px 0px;
	width: 20px;
	height: 20px;
}
#mobileItemDetail .desc .statistics .left .tags .icon {
	background-image: url("../images/itemDetails_mobileTags.png");
	background-repeat: no-repeat;
	background-position: -1px 0px;
	width: 20px;
	height: 20px;
}
#mobileItemDetail .desc .statistics .right .star .icon {
	background-image: url("../images/itemDetails_mobileStar.png");
	background-repeat: no-repeat;
	background-position: -2px -5px;
	width: 20px;
	height: 20px;
}
#mobileItemDetail .desc .statistics .right .star .val {
	color: #ff1e1e;
}
#mobileItemDetail .desc .statistics .right .sub .icon {
	background-image: url("../images/itemDetails_mobileSub.png");
	background-repeat: no-repeat;
	background-position: -2px -5px;
	width: 20px;
	height: 20px;
}
#mobileItemDetail .desc .statistics .right .sub .val {
	color: #5f52a0;
}
#mobileItemDetail .desc .statistics .right .pull .icon {
	background-image: url("../images/itemDetails_mobileSub.png");
	background-repeat: no-repeat;
	background-position: -2px -5px;
	width: 20px;
	height: 20px;
}
#mobileItemDetail .desc .statistics .right .pull .val {
	color: #666666;
}
#mobileItemDetail .desc .owner span,#mobileItemDetail .desc .repository span{
	display: inline-block;
	vertical-align: middle;
}
#mobileItemDetail .desc .owner,#mobileItemDetail .desc .repository {
	padding: 30px 40px 30px 0px;
	border-bottom: 1px solid #d2d2d2;
	overflow: hidden;
	font-size: 22px;
}
#mobileItemDetail .desc .owner .iconr,#mobileItemDetail .desc .repository .iconr{
	background-image: url("../images/itemDetails_mobileTriangleR.png");
	background-repeat: no-repeat;
	background-position: -6px -8px;
	width: 17px;
	height: 27px;
	float: right;
}
#mobileItemDetail .desc .owner .text .tname,#mobileItemDetail .desc .repository .text .tname{
	color: #66666666;
	width: 160px;
}
#mobileItemDetail .desc .owner .text .tval a,#mobileItemDetail .desc .repository .text .tval a{
	color: #000000;
}
#mobileItemDetail .data {
	background-color: #fff;
}
#mobileItemDetail .data>div{
	padding: 30px 40px;
	border-bottom: 1px solid #d2d2d2;
}
#mobileItemDetail .data>div span {
	display: inline-block;
	vertical-align: middle;
}
#mobileItemDetail .data>div .iconr {
	background-image: url("../images/itemDetails_mobileTriangleR.png");
	background-repeat: no-repeat;
	background-position: -6px -8px;
	width: 17px;
	height: 27px;
	float: right;
}
#mobileItemDetail .data .taglist .nicon {
	background-image: url("../images/itemDetails_mobileTaglist.png");
	background-repeat: no-repeat;
	background-position: -5px -6px;
	width: 18px;
	height: 26px;
	margin-right: 5px;
}
#mobileItemDetail .data .taglist {
	font-size: 26px;
	color: #0077aa;
}
#mobileItemDetail .data .sample,#mobileItemDetail .data .meta{
	font-size: 24px;
	color: #666666;
}
#mobileItemDetail .sampleDetail,#mobileItemDetail .metaDetail,#mobileItemDetail .taglistDetail {
	margin: 40px 40px 0px 40px;
}
#mobileItemDetail .sampleDetail .name,#mobileItemDetail .metaDetail .name{
	padding: 15px 36px;
	height: 70px;
	background-color: #c0c0c0;
	font-size: 26px;
	color: #fff;
	cursor: pointer;
}
#mobileItemDetail .sampleDetail .body,#mobileItemDetail .metaDetail .body {
	padding: 36px;
	font-size: 20px;
	line-height: 30px;
	min-height: 120px;
	color: #666666;
}
#mobileItemDetail .taglistDetail .name {
	padding: 15px 36px;
	background-color: #0077aa;
	font-size: 26px;
	color: #fff;
	cursor: pointer;
}
#mobileItemDetail .taglistDetail .name span {
	display: inline-block;
}
#mobileItemDetail .taglistDetail .name .icon {
	background-image: url("../images/itemDetails_mobileTags.png");
	background-repeat: no-repeat;
	background-position: -1px 0px;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
#mobileItemDetail .taglistDetail .body .tagrecored{
	font-size: 22px;
	color: #333;
	height: 290px;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
}
#mobileItemDetail .taglistDetail .body .tagrecored .state {
	background-color: #29abe2;
	height: 100%;
	width: 10px;
	float: left;
}
#mobileItemDetail .taglistDetail .body .tagrecored .content {
	width: 100%;
	margin-left: 36px;
	padding-right: 72px;
	padding-top: 36px;

}
#mobileItemDetail .taglistDetail .body .tagrecored .content> div {
	margin-bottom: 30px;
}
#mobileItemDetail .taglistDetail .body .tagrecored .content .tagname {
	overflow: hidden;
}
#mobileItemDetail .taglistDetail .body .tagrecored .content .tagname .left {
	float: left;
}
#mobileItemDetail .taglistDetail .body .tagrecored .content .tagname .right {
	float: right;
	font-size: 20px;
	color: #2a2a2a;
}
#mobileItemDetail .taglistDetail .body .tagrecored .content .tagname .right span {
	display: inline-block;
	vertical-align: middle;
}
#mobileItemDetail .taglistDetail .body .tagrecored .content .tagname .right .icon {
	background-image: url("../images/itemDetails_mobileSub.png");
	background-repeat: no-repeat;
	background-position: -2px -5px;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
#mobileItemDetail .taglistDetail .body .tagrecored .content .pullurl .itext {
	width: 70%;
	height: 36px;
	font-size: 22px;
	line-height: 36px;
	padding: 5px 0px 5px 5px;
	border: 1px solid #e5e5e5;
	background-color: #f7fafc;
	outline: none;
}
#mobileItemDetail .taglistDetail .body .tagrecored .content .pullurl {
	overflow: hidden;
}
#mobileItemDetail .taglistDetail .body .tagrecored .content .pullurl .btn {
	width: 80px;
	height: 40px;
	padding: 0px 10px;
	font-size: 26px;
	color: #7f7f7f;
	background-color: #d2d2d2;
	float: right;
}
#mobileItemDetail .taglistDetail .body .tagrecored .content .pullurl .btn:hover {
	background-color: #22bdff;
}
@media screen and (max-width: 768px){
	#dataitem {
		display: none;
	}
	#mobileItemDetail {
		display: block;
	}
	/*#dataitem-right {
		width: 100%;
		float: left;
	}
	#dataitem-left {
		width: 100%;
		padding-left: 20px;
		padding-right: 0px;
		clear: left;
	}
	#dataitem-tag .tag-body td{
		width: 50%;
		float: left;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#dataitem-tag .tag-body tr td:nth-child(2), #dataitem-tag .tag-body tr td:nth-child(4) {
		clear: right;
	}*/
}
@media screen and (max-width: 420px){
	#dataitem-tag .tag-body td{
		width: 100%;
		float: left;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}