.pagination a,.pagination span{
	display: inline;
	float: none;
}
.pagination a, .pagination span{
	padding:0.5em 1em;
}
.pagination a{
	border:1px solid #e5e5e5;
	color: #666;
	border-radius: 3px;
}
.pagination span.current{
	border-radius: 3px;
	background: #29abe2;
}
.pagination{
	width: 100%;
	text-align: right;
	margin-bottom: 0px;
}

#dataitem {
	overflow:auto;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 50px;
}
#dataitem-left{
	width: 75%;
	padding-right: 20px;
	float: left;
}
#dataitem-right{
	width: 25%;
	padding-left: 20px;
	float: right;
}
#dataitem-head {
	min-height: 50px;
	background-color: #f7fafc;
	margin-bottom: 30px;
	overflow: hidden;
}
#dataitem-head-left {
	font-size: 0px;
	margin-top: 12px;
}
#dataitem-head-left span{
	display: inline-block;
	font-size: 20px;
	color: #0077aa;
}
#dataitem-head-left .line {
	color: #333;
}
#dataitem-head-left .repname:hover{
	text-decoration: underline ;
	cursor: pointer;
}
#dataitem-head-left .icon {
	background-image: url("../images/sliceU1.png");
	background-repeat: no-repeat;
	background-position: -376px -3px;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 2px;
	margin-bottom: -2px;
}
#dataitem-head-left a, #dataitem-head-left>span {
	width: auto;
	font-size: 20px;
	color: #29abe2;
}
#dataitem-head-right {
	width: auto;
	height: 100%;
	padding-right: 10px;
	font-size: 0px;
	margin-top: 20px;
	margin-bottom: -5px;
	margin-bottom: 5px;
}
#dataitem-head-right>span {
	font-size: 12px;
	color: #666;
}
#dataitem-head-right>span,#introduce4 .icons>span {
	display: inline-block;
}
#dataitem-head-right .icon{
	margin-left: 10px;
	margin-top: 1px;
	margin-bottom: -1px;
}
#dataitem-head-right .value{
	margin-left: 3px;
}
#dataitem-head-right .star-icon, #introduce4 .icons .star-icon {
	background-image: url("../images/sliceU1.png");
	background-repeat: no-repeat;
	background-position: -61px -8px;
	width: 12px;
	height: 12px;
}
#dataitem-head-right .subscript-icon, #introduce4 .icons .subscript-icon {
	background-image: url("../images/sliceU1.png");
	background-repeat: no-repeat;
	background-position: -92px -8px;
	width: 12px;
	height: 12px;
}
#dataitem-head-right .downloaded-icon, #introduce4 .icons .downloaded-icon {
	background-image: url("../images/sliceU1.png");
	background-repeat: no-repeat;
	background-position: -125px -8px;
	width: 12px;
	height: 12px;
}
#dataitem-tag .tag-head {
	font-size: 0px;
	color: #fff;
	background-color: #0077aa;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
}
#dataitem-tag .tag-head>span {
	display: inline-block;
	font-size: 14px;
}
#dataitem-tag .tag-head .icon {
	background-image: url("../images/itemicon.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 8px;
	height: 12px;
	/*margin-top: 5px;*/
	/*margin-bottom: -5px;*/
	margin-right: 5px;
}
#dataitem-exemple,#dataitem-metadata {
	border:1px solid #e5e5e5;
	margin-bottom: 30px;
}
#dataitem-exemple .exemple-head, #dataitem-metadata .metadata-head {
	font-size: 14px;
	background-color: #f5f5f5;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}
#dataitem-tag #show-message {
	width: 180px;
	height: 70px;
	border: 5px solid #e5e5e5;
	font-size: 14px;
	color: #666;
	background-color: #fff;
	text-align: center;
	line-height: 60px;
	z-index: 100;
}
#dataitem-tag #show-message a{
	color: #29abe2;
}
#dataitem-tag #show-message a:hover{
	cursor: pointer;
	text-decoration: underline;
}
#dataitem-tag .tag-body{
	clear: both;
	background-color: #f7fafc;
	padding: 0px 20px 30px;
	border: 1px solid #e5e5e5;
	background-color: #f7fafc;
}
#dataitem-exemple .exemple-body{
	clear: both;
	min-height: 160px;
	background-color: #f7fafc;
	padding: 20px 20px;
}
#dataitem-metadata .metadata-body{
	clear: both;
	min-height: 160px;
	background-color: #f7fafc;
	padding: 20px 20px;
}
#dataitem-tag {
	margin-bottom: 50px;
}
#dataitem-tag .tag-body table{
	clear: both;
	width: 100%;
	font-size: 14px;
	color: #333;
	table-layout:fixed;
}
#dataitem-tag .tag-body tr{
	border-bottom: 1px dotted #e5e5e5;
}
#dataitem-tag .tag-body td{
	word-break: keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	padding: 30px 0px;
	text-align: center;
}
#dataitem-tag .tag-body .tag-1 {
	text-align: left;
}
#dataitem-tag .tag-body .tag-4 {
	padding: 30px 0px;
}
#dataitem-tag .tag-body .tag-4 .plaintext{
	width: 100%;
	height: 22px;
	border: 1px solid #e5e5e5;
	/*border-right: none;*/
	padding-left: 5px;
	font-size: 14px;
	color: #333;
	/*margin-right: -4px;*/
}
#dataitem-tag .tag-body .tag-4 .btn{
	width: 48px;
	height: 22px;
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
	font-size: 14px;
	color: #333;
	padding: 0px;
	border-radius: 0px;
	margin-top: -1px;
	margin-bottom: 1px;
}
#dataitem-tag .tag-body .tag-5 {
	text-align: right;
	padding-top:20px;
	padding-bottom: 0px;
	text-align: right;
	font-size: 0px;
}
#dataitem-tag .tag-body .tag-5 .btn {
	border-radius: 0px;
	margin-top: 10px;
	margin-bottom: -10px;
}
#dataitem-tag .tag-body .tag-5 .download {
	font-size: 0px;
	margin-top: 20px;
}
#dataitem-tag .tag-body .tag-5 .download>span {
	font-size: 12px;
	color: #666;
	display: inline-block;
}
#dataitem-tag .tag-body .tag-5 .download .icon {
	background-image: url("../images/sliceU1.png");
	background-repeat: no-repeat;
	background-position: -125px -8px;
	width: 12px;
	height: 12px;
	margin-right: 3px;
	margin-top: 1px;
	margin-bottom: -1px;
}
#dataitem-tag .tag-body .tag-5 .btn{
	width: 68px;
	height: 22px;
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
	font-size: 14px;
	color: #333;
	padding: 0px;
}
#dataitem-tag .tag-body .tag-5 .btn:hover{
	border: none;
	color: #fff;
	background-color: #29abe2;
}
#dataitem-right {
	padding: 20px 0px 20px 20px;
}
#introduce1 {
	padding-bottom: 5px;
}
#introduce1 .introduce1-head {
	font-size: 18px;
	color: #333;
	word-break: keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#introduce1 .introduce1-body {
	font-size: 14px;
	color: #666;
	line-height: 24px;
}
#introduce2 .introduce2-a {
	font-size: 0px;
}
#introduce2 .introduce2-a span {
	font-size: 0px;
}
#introduce2 .introduce2-a>span {
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	color: #666;
}
#introduce2 .a-icon {
	background-image: url("../images/sliceU1.png");
	background-repeat: no-repeat;
	background-position: 0px -7px;
	width: 12px;
	height: 12px;
	margin-right: 3px;
	margin-top: 1px;
	margin-bottom: -1px;
}
#introduce2 .introduce2-a {
	margin-bottom: 10px;
}
#introduce2 .introduce2-b>span {
	display: inline-block;
	height: 20px;
	font-size: 12px;
	color: #fff;
	border-radius: 2px;
	margin-right: 1px;
	padding: 0px 10px;
	line-height: 20px;
}
#introduce2 .introduce2-b {
	clear: both;
	margin-bottom: 10px;
	font-size: 0;
}
#introduce2 .introduce2-c>div{
	border: 1px solid #e5e5e5;
	padding: 10px;
	margin: 0px;
	font-size: 12px;
}
#introduce2 .introduce2-c>div:nth-child(1) {
	margin-bottom: 10px;
}
#introduce2 .introduce2-c .name {
	margin-bottom: 10px;
	color: #333;
}
#introduce2 .introduce2-c .name {
	color: #666
}
#introduce2 .introduce2-c>div div {
	padding: 0px;
	word-break: keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#introduce2 .introduce2-c>div a:hover {
	color: #29abe2;
	text-decoration: underline;
}
#introduce3 .introduce3-icon {
	background-image: url("../images/sliceU1.png");
	background-repeat: no-repeat;
	background-position: -202px -4px;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	float: left;
}
#introduce3 .introduce3-text a{
	font-size: 16px;
	color: #29abe2;
	cursor: pointer;
}
#introduce3 .introduce3-text a:hover {
	text-decoration: underline;
}
#introduce3 {
	margin-top: 20px;
	margin-bottom: 20px;
}
#introduce4 {
	padding-bottom: 10px;
}
#introduce4 .introduce4-head {
	font-size: 18px;
	color: #333;
	margin-bottom: 10px;
}
#introduce4 .introduce4-body>div {
	position: relative;
	width: 250px;
	height: 80px;
	border: 1px solid #e5e5e5;
	padding: 20px 20px 0px 30px;
}
#introduce4 .introduce4-body>div:hover{
	border: 1px solid #29abe2;
	cursor: pointer;
}
#introduce4 .introduce4-body>div:hover .num{
	color: #fff;
	background-color: #29abe2;
}
#introduce4 .introduce4-body>div:hover .name{
	font-size: 16px;
	color: #29abe2;
}
#introduce4 .introduce4-body>div .num {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	text-align: center;
	line-top: 20px;
	background-color: #f5f5f5;
}
#introduce4 .introduce4-body>div .name {
	font-size: 16px;
	color: #666;
}
#dataitem-exemple, #dataitem-metadata {
	word-break: break-all;
}
@media screen and (max-width: 768px){
	#dataitem-right {
		width: 100%;
		float: left;
	}
	#dataitem-left {
		width: 100%;
		padding-left: 20px;
		padding-right: 0px;
		clear: left;
	}
	#dataitem-tag .tag-body td{
		width: 50%;
		float: left;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#dataitem-tag .tag-body tr td:nth-child(2), #dataitem-tag .tag-body tr td:nth-child(4) {
		clear: right;
	}
}
@media screen and (max-width: 420px){
	#dataitem-tag .tag-body td{
		width: 100%;
		float: left;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}