body{
	margin:0px;
	padding:0px;
	background-color:#f5f5f5;
	font-family:"微软雅黑";
}
#background{
	padding:70px 0px;
	

}

.title{
	margin:auto auto;
	width:100%;
	float:left;
	margin-bottom:15px;

}
.title h1{
	font-size:20px;
	color:#000;
/*	font-family:"微软雅黑";*/
	font-weight:bold;

}

.main{
	background-color:white;
	width:100%;
	float:left;
	
}
.main:after{  
	content:".";    
	display:block;   
	height:0;     
	visibility:hidden;   
	clear:both; 
}
.synopsis{
	background-color: white;
    border-bottom: 1px dashed #000;
    float: left;
    margin: 0 20px;
	height:249px;
	
}
.synopsis ol{
	list-style:inside none disc;
}
.synopsis .p1{
	color: #333;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
	text-indent:2em;
}
 .synopsis .p2{
	color: #333;
    font-size: 16px;
    line-height: 30px;
    margin: -18px 0px;
	text-indent:2em;
	}
	ol{
		margin-top:18px;
	}
	ol li{
		color: #333;
		font-size: 16px;
		line-height: 30px;
		text-indent:2em;
	}
	ol li p{
		color: #29abe2;
		display:inline;
	}
.upgradScheme{
	margin:30px 0px;
	height:500px;
	float:left;
	width:100%;
	margin-bottom:30px;
	
}
.upgradScheme h4{
	margin:0 20px;
	font-weight:bold;
/*	font-family:"微软雅黑";*/

}

table,tr,th,td{
	border: 1px solid white;

}
table td{
	padding-left:10px;
	font-size:16px;
}
table{
	width:1128px;
	height:396px;
	margin:20px 20px;
	background-color:#eef5f9;
}

	table .td1{
		background-color:#ec6467;
		width:216px;
		color:#fff;
		font-size:16px;

	}
	.td11 p{
		color:#fff;
		font-size:18px;
		margin:auto auto;
		display:inline;
		text-align:center;
		margin-left:5px;

	}
	.icon1{
		margin-top:0px;
		background-image: url('/images/member_icon.png');
		background-repeat: no-repeat;
		background-position: 91% 11%;
		display:inline-block;	
		width:30px;
		height:30px;
		
		margin-bottom:-8px;
	
		
	}
		.td12 p{
		color:#333;
		font-size:18px;
		margin:auto auto;
		display:inline;
		text-align:center;
		font-weight:bold;
		margin-left:5px;
		}
		.td12 div p{
			display:block;
		}
		.icon2{
		margin-top:0px;
		background-image: url('/images/member_icon.png');
		background-repeat: no-repeat;
		background-position: 2% 40%;
		display:inline-block;	
		width:40px;
		height:40px;
		margin-bottom:-15px;

		
	}
		.td13 p{
		color:#333;
		font-size:18px;
		margin:auto auto;
		display:inline;
		text-align:center;
		font-weight:bold;
		margin-left:5px;

		}
		.td13 div p{
			display:block;
		}
		.icon3{
		margin-top:0px;
		background-image: url('/images/member_icon.png');
		background-repeat: no-repeat;
		background-position: 2% 40%;
		display:inline-block;	
		width:40px;
		height:40px;
		margin-bottom:-15px;

		
	}
		.td14 p{
		color:#333;
		font-size:18px;
		margin:auto auto;
		display:inline;
		text-align:center;
		font-weight:bold;
		margin-left:5px;

		}
		.td14 div p{
			display:block;
		}
		.icon4{
		margin-top:0px;
		background-image: url('/images/member_icon.png');
		background-repeat: no-repeat;
		background-position: 2% 40%;
		display:inline-block;	
		width:40px;
		height:40px;
		margin-bottom:-15px;

		
		}
		.td15 p{
		color:#333;
		font-size:18px;
		margin:auto auto;
		display:inline;
		text-align:center;
		font-weight:bold;
		margin-left:5px;

		}
		.icon5{
		margin-top:0px;
		background-image: url('/images/member_icon.png');
		background-repeat: no-repeat;
		background-position: 2% 40%;
		display:inline-block;	
		width:40px;
		height:40px;
		margin-bottom:-15px;
	
		
		}
	table .tdx{
		background-color:#f5f5f5;
		width:227px;

	}
	.row1 td{
		height:96px;
		text-align:center;
		padding-right:10px;
		
	}
	.row2 .tdx,.row3 .tdx,.row4 .tdx,.row5 .tdx,.row6 .tdx,.row7 .tdx{
		height:50px;
		color:#333;
		padding-left:35px;
	}


/*按钮组*/
.btn1{
	height:28px;
	width:160px;
	padding:2px 16px;
	background-color:#29abe2 !important;
	border-color:#29abe2 !important;
	margin:10px auto;
	border:0;
	color:white;
	border-radius:5px;
}
.btn1:hover{
	background-color:#1998ce !important;
}
.btn2{
	height:28px;
	width:160px;
	padding:2px 16px;
	background-color:#29abe2 !important;
	border-color:#29abe2 !important;
	margin:10px auto;
	border:0;
	color:white;
	border-radius:5px;
}
.btn2:hover{
	background-color:#1998ce !important;
}
.btn3{
	height:28px;
	width:160px;
	padding:2px 16px;
	background-color:#29abe2 !important;
	border-color:#29abe2 !important;
	margin:10px auto;
	border:0;
	color:white;
	border-radius:5px
}
.btn3:hover{
	background-color:#1998ce !important;
}
/*按钮弹出框样式*/
		.window1{
			width:350px;
			height:130px;
			border:5px solid #e5e5e5;
			background-color:white;
			padding-top:15px;
			position:absolute;
			display:none;
			margin:-9px -72px; 
		}
		.window1 p{
			text-align:center;
			font-size:16px;
			line-height:30px;
			color:#000;
			
		}
		 .window1 .p2{
			color:#29abe2;	
		}
		.window2{
			width:350px;
			height:130px;
			border:5px solid #e5e5e5;
			background-color:white;
			padding-top:15px;
			position:absolute;
			display:none;
			margin:-9px -72px; 
		}
		.window2 p{
			text-align:center;
			font-size:16px;
			line-height:30px;
			color:#000;
		}

		 .window2 .p2{
			color:#29abe2;	
		}

		.window3{
			width:350px;
			height:130px;
			border:5px solid #e5e5e5;
			background-color:white;
			padding-top:15px;
			position:absolute;
			display:none;
			margin:-9px -72px; 
		}
		.window3 p{
			text-align:center;
			font-size:16px;
			line-height:30px;
			color:#000;
		}

		 .window3 .p2{
			color:#29abe2;	
		}