.boxwrop {
    overflow: hidden;
    padding: 50px 20px;
}
.contop{
    background: #43609f none repeat scroll 0 0;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    width: 100%;
}
.conment{
    width: 100%;
    overflow: hidden;
    line-height: 1.5em;
    font-size: 1.2em;
}