
.container{
    padding:0 40px;
}
.release-top{
    font-size: 18px;
    font-weight: bold;
    padding-top:19px;
    padding-bottom:20px;
}
#dataitem-tag .tag-body {
    background-color: #fff;
    border-left: 5px solid #fff;
    clear: both;
    overflow: hidden;
    padding: 5px 10px 5px 5px;
}

#dataitem-tag .tag-body td {
    padding: 8px;
}
.rightsimg .time-icon{
    background-image: url("../images/slice.png");
    background-repeat: no-repeat;
    background-position: 1px -5px;
    width: 15px;
    height: 15px;
    line-height: 50px;
}
#introduce4 .icons > span, .rightsimg > span {
    float: left;
}
#dataitem-head-right > span, #introduce4 .icons > span, .rightsimg > span {
    color: #666;
    display: inline-block;
    font-size: 12px;
}
.rightsimg .private-icon {
    background-image: url("../images/release1.png");
    background-position: -113px -124px;
    background-repeat: no-repeat;
    height: 15px;
    line-height: 50px;
    margin-left: 3px;
    width: 15px;
}
.rightsimg .trusteeship-icon {
    background-image: url("../images/release1.png");
    background-position: -162px -124px;
    background-repeat: no-repeat;
    height: 15px;
    line-height: 50px;
    margin-left: 3px;
    width: 15px;
}
.rightsimg .havenum-icon {
    background-image: url("../images/release1.png");
    background-position: -223px -124px;
    background-repeat: no-repeat;
    height: 15px;
    line-height: 50px;
    margin-left: 3px;
    width: 15px;
}
.rightsimg .star-icon {
    background-position: -60px -5px;
}
.nofloat span {
    float: right;
}
#dataitem-head-right .downloaded-icon, #introduce4 .icons .downloaded-icon, .rightsimg .downloaded-icon {
    background-image: url("../images/slice.png");
    background-position: -125px -5px;
    background-repeat: no-repeat;
    height: 20px;
    line-height: 50px;
    margin-left: 8px;
    width: 15px;
}
#dataitem-head-right .subscript-icon, #introduce4 .icons .subscript-icon, .rightsimg .subscript-icon {
     background-image: url("../images/slice.png");
     background-position: -93px -5px;
     background-repeat: no-repeat;
     height: 15px;
     line-height: 50px;
     margin-left: 8px;
     width: 15px;
 }
.rightsimg .star-icon {
    background-position: -60px -5px;
}
#dataitem-head-right .star-icon, #introduce4 .icons .star-icon, .rightsimg .star-icon {
    background-image: url("../images/slice.png");
    background-position: -60px -5px;
    background-repeat: no-repeat;
    height: 15px;
    line-height: 50px;
    width: 15px;
}
.itemList{
    border: 1px solid #e5e5e5;
}
.content{
    width: 100%;
    overflow: hidden;
    margin-top:15px;
}
.leftnav{
    width: 12%;
    height: auto;
    float: left;
    padding-top:23px;
}
.leftnav li{
    width: 132px;
    height: 40px;
    margin-top:6px;
    cursor: pointer;

}
.leftnav li div{
    width: 132px;
    height: 40px;
    line-height: 40px;
    padding-left:30px;
    border: 1px solid #e5e5e5;
    border-left: 3px solid #e5e5e5;
    color:#666;

}
.leftnav li.cur{
    width: 189px;
    position: relative;
    z-index: 10;
    height: 66px;


}
.leftnav li.cur div{
    width: 130px;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
    color: #4dc499;
    border-left: 3px solid #4dc499;
    border-right: 0 none;
    float: left;
    font-size: 15px;
    background: #fbfcfe;
}
#editItem .xiugainame{
    background: rgba(0, 0, 0, 0) url("../images/allow_icon.png") no-repeat scroll 3px 5px;
    cursor: pointer;
    margin-left: 10px;
    padding: 3px 10px;
}
#editItem .xiugaiwrop{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.leftnav li.cur span{
    width: 35px;
    height: 62px;
    display: inline-block;
    float: left;
    background:url("../images/pic1.png") no-repeat right center ;
}
.con-main{
    width: 88% ;
    border: 1px solid #e5e5e5;
    float: left;
    padding-left:40px;
    padding-right:15px;
    min-height: 260px;
}
.tagbox .head{
    margin:18px 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
}
.tagbox .head>span {
    display: inline-block;
    font-size: 12px;
    color: #666;
    float: left;

}
.tagbox .head span.date{
    line-height: 24px;
}

.tagbox .head span.icon{
    padding:11px 8px;
    background:url("../images/tag.png") no-repeat left center;;
}

.tagbox .body table {
    color: #666;
    font-size: 14px;
    width: 100%;
    table-layout:fixed;
}
.tagbox .body table tr td{
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 25%;
    word-break: keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.tagbox .body table tr .first {
    text-align: center;
    padding-left: 20px;
    width: 15%;
}
.tagbox .body table tr .last {
    text-align: center;
    padding-right: 20px;
    width: 20%;
}
.tagbox .body table tr:nth-child(odd) {
    background-color: #f5f5f5;
}
.tagbox .body table tr:nth-child(even) td{
    padding-top: 5px;
    padding-bottom: 5px;
}

.tagbox .last span.downloaded-icon{
    background-image: url("../images/slice.png");
    background-position: -125px 1px;
    background-repeat: no-repeat;
    height: 20px;
    line-height: 50px;
    margin-left: 8px;
    width: 20px;
    display: inline-block;
}
.pullbox,.operationbox{
    padding-top:15px;
}
.pullbox .head,.operationbox .head {
    font-size: 0px;
    cursor: pointer;
}
.pullbox .body,.operationbox .body {
    border-left: 1px solid #ccc;
    margin-left: 7px;
    margin-top: -6px;
    padding: 15px 0px 25px  27px;
}
.pullbox .head>span,.operationbox .head>span {
    display: inline-block;
    font-size: 16px;
    color: #29abe2;
}
.pullbox .head .icon,.operationbox .head .icon {
    background-image: url("../images/sliceU1.png");
    background-repeat: no-repeat;
    background-position: -272px -6px;
    width: 15px;
    height: 15px;
    margin-right: 20px;
}
.pullbox .body table,.operationbox .body table {
    color: #666;
    font-size: 14px;
    width: 100%;
    table-layout:fixed;
}
.pullbox .body table tr td,.operationbox .body table tr td{
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 20%;
    word-break: keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.pullbox .body table tr .first,.operationbox .body table tr .first {
    text-align: left;
    padding-left: 20px;
}
.pullbox .body table tr .last,.operationbox .body table tr .last {
    text-align: right;
    padding-right: 20px;
}
.pullbox .body table tr:nth-child(odd),.operationbox .body table tr:nth-child(odd) {
    background-color: #f5f5f5;
}
.pullbox .body table tr:nth-child(even) td,.operationbox .body table tr:nth-child(even) td{
    padding-top: 5px;
    padding-bottom: 5px;
}
.operationbox .last span.upload-icon{
    background-image: url("../images/release.png");
    background-position: -85px -2px;
    background-repeat: no-repeat;
    height: 18px;
    line-height: 50px;
    margin-left: 8px;
    width: 20px;
    display: inline-block;
}
.metadatatop{
    width: 100%;
    height: 20px;
    line-height: 20px;
    position: relative;
    margin-top:20px;
    margin-bottom:14px;
}
.metadata-icon{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    right: 10px;
    cursor: pointer;
    background:url("../images/release.png") -63px -29px;
}
.metadata-con{
    border: 1px solid #e5e5e5;
    padding:14px;
    margin-top:14px;
    margin-bottom: 40px;
    color: #969697;
    line-height: 18px;
}

.itemListName{
    position: relative;
}
.itemListName a:link,.itemListName a:visited{
    color: #0077aa;
    font-size: 22px;

}
.itemListName a:hover{
    color: #0077aa;
    text-decoration: underline;
}
.itemListName-icon{
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 4px;
    right: 14px;
    background: url("../images/release.png") -63px -29px;
    cursor: pointer;
}

.filletspan span.period {
    background-color: #29abe2;
    height: 20px;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    padding:0px 10px;
    border-radius: 2px;
    margin-left:1px;
}
.filletspan span.api {
    background-color: #f06f77;
    height: 20px;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    padding:0px 10px;
    border-radius: 2px;
    margin-left:1px;
}
.filletspan span.flot-data {
    background-color: #fc9b00;
    height: 20px;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    padding:0px 10px;
    border-radius: 2px;
    margin-left:1px;
}
.top-con{
    color: #666;
}

.rightsimg{
    width: 30%;
}
.filletspan{
    text-align: center;
}
.marginleft{
    margin-left:5px;
}
.pages{
    width: 88%;
    padding-left: 40px;
    padding-right: 15px;
    float: right;
}
.pagination a, .pagination span{
    padding:0.5em 1em;
    display: inline;
    float: none;
}
.pagination a{
    border:1px solid #e5e5e5;
    color: #666;
     border-radius: 3px;
}
.pagination span.current{
   border-radius: 3px;
   background: #29abe2;
}
.pagination{
    width: 100%;
    text-align: right;
}

.itemnameitem{
    font-weight: normal;
    font-size:22px;
    color: #989898;
}

.metadata-icon a{
    width: 20px;
    height: 20px;
    display: inline-block;
}

#editItem .modal-dialog{
    width: 520px;
}
#editItem .head{
    margin-bottom: 30px;
}
#editItem .head span  {
    font-size: 20px;
    color: #333;
}
#editItem .itemname .key,#editItem .itemcomment .key,#editItem .itempro .key,#editItem .itemtag .key{
    font-size: 14px;
    color: #29abe2;
    margin-bottom: 10px;
}
#editItem .itemname .value input{
    width: 458px;
    height: 38px;
    padding: 0px 10px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    color: #666;
}
#editItem .itempro .value span{
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    color: #666;
    font-size: 12px;
    padding:3px 15px;
}
.delitemlabelicon{
    width: 16px;
    height: 16px;
    background-image: url("../images/item_close.png") ;
    float: left;
    margin-left:10px;
    margin-top:3px;
    cursor: pointer;
}
.delitemlabelicon:hover{
    width: 16px;
    height: 16px;
    background-image: url("../images/item_close.png") ;
    background-position: -26px 0px;
    float: left;
    margin-left:10px;
    margin-top:3px;
    cursor: pointer;
}
#editItem .itemcomment .value textarea{
    width: 458px;
    height: 112px;
    padding: 0px 10px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
}
#editItem .itempro .value select{
    width: 92px;
    height: 24px;
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
    border-radius: 5px;
    padding-left: 23px;
    border: 1px solid #666;
}
#editItem .itemtag {
    margin-bottom: 30px;
}
#editItem .itemtag .key .addbtn {
    display: inline-block;
    font-size: 0px;
}
#editItem .itemtag .key .addbtn > span{
    display: inline-block;
    font-size: 12px;
}
#editItem .itemtag .key {
    overflow: hidden;
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 5px;
}
#editItem .itemtag .key .tagname {
    float: left;
}
#editItem .itemtag .key .addbtn {
    float: right;
    font-size: 12px;
    color: #666;
}
#editItem .itemtag .key .addbtn .btnicon {
    background-image: url("../images/myPublish.png");
    background-repeat: no-repeat;
    background-position: -91px -28px;
    width: 18px;
    height: 18px;
    margin-top: 4px;
    margin-left: 5px;
    margin-bottom: -4px;
    cursor: pointer;
}
#editItem .itemtag .key .addbtn .btnicon:hover {
    background-image: url("../images/edit_item.png");
    background-repeat: no-repeat;
    background-position: -51px 0px;
    width: 18px;
    height: 18px;
    margin-top: 4px;
    margin-bottom: -4px;
    margin-left: 5px;
    cursor: pointer;
}
.itemtagmoney .keymoney{
    border-bottom: 1px solid #c5c5c5;
    overflow: hidden;
    padding-bottom: 5px;
    font-size: 14px;
    color: #29abe2;
}
.itemtagmoney .keymoney .tagnamemoney{
    float: left;
}
#editItem .itemtagmoney .keymoney .addbtnmoney{
    color: #666;
    display: inline-block;
    font-size: 12px;
}
#editItem .itemtagmoney .keymoney .divmoney > span{
    display: inline-block;
    font-size: 12px;
}
#editItem .itemtagmoney .keymoney .divmoney .btniconmoney{
    background-image: url("../images/myPublish.png");
    background-position: -91px -28px;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 18px;
    margin-bottom: -4px;
    margin-left: 5px;
    width: 18px;
}

#editItem .itemtagmoney .valuemoney .persontag{
    margin-bottom: 10px;
    overflow: hidden;
    padding-right: 3px;
    width: 100%;
    margin-top:10px;
}
#editItem .itemtagmoney .valuemoney .persontag .tagtime, #editItem .itemtagmoney .valuemoney .persontag .tagmoney,#editItem .itemtagmoney .valuemoney .persontag .tagexpire{
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    color: #666;
    font-size: 12px;
    height: 22px;
    text-align: center;
    width: 108px;
}
#editItem .itemtagmoney .valuemoney .persontag input, #editItem .itemtagmoney .valuemoney .persontag div{
    float: left;
}

#editItem .itemtagmoney .valuemoney .persontag div.delitemmoneyicon{
    background-image: url("../images/item_close.png");
    cursor: pointer;
    float: left;
    height: 16px;
    margin-left: 10px;
    margin-top: 3px;
    width: 16px;
}
#editItem .itemtagmoney .valuemoney .persontag div.delitemmoneyicon:hover {
    width: 16px;
    height: 16px;
    background-image: url("../images/item_close.png") ;
    background-position: -26px 0px;
    float: left;
    margin-left:10px;
    margin-top:3px;
    cursor: pointer;
}



#editItem .itemtag .value {
    overflow: hidden;
}
#editItem .itemtag .value .persontag {
    overflow: hidden;
    width: 152px;
    padding-right: 3px;
    float: left;
    margin-bottom: 10px;
}
#editItem .itemtag .value .persontag input, #editItem .itemtag .value .persontag div {
    float: left;
}
#editItem .itemtag .value .persontag .tagkey,#editItem .itemtag .value .persontag .tagvalue {
    width: 53px;
    height: 22px;
    border: 1px solid #c7c7c7;
    font-size: 12px;
    color: #666;
    border-radius: 5px;
    text-align: center;
}

#editItem .itemtag .value .persontag .tagequal {
    margin: 0px 4px;
}
#editItem .itemtag .value .persontag .delicon {
    background-image: url("../images/edit_item.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 18px;
    height: 18px;
    margin-top: 4px;
    margin-bottom: -4px;
    cursor: pointer;
    float: left;
    margin-left: 3px;
}
#editItem .itemtag .value .persontag .delicon:hover {
    background-image: url("../images/edit_item.png");
    background-repeat: no-repeat;
    background-position: -26px 0px;
    width: 18px;
    height: 18px;
    margin-top: 4px;
    margin-bottom: -4px;
}
#editItem .submit input{
    width: 458px;
    height: 40px;
    background-color: #29abe2;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    border: 0 none;
}
#editItem .submit input:hover {
    background-color: #1998ce;
}
#editItem .submit{
    padding-top:30px;
}


#editBox .modal-dialog{
    width: 600px;
    background: #fff;
 border-radius: 5px;
}
#editBox .modal-dialog .modal-content .modal-body{
    min-height: 550px;
}
#addRep .head{
    margin-bottom: 30px;
}
#addRep .head span  {
    font-size: 20px;
    color: #333;
}
#addRep .repname .key,#addRep .repcomment .key,#addRep .property .key,.managename{
    font-size: 14px;
    color: #29abe2;
    margin-bottom: 10px;
}
.namenum{
    color: #333;
    margin-left: 5px;
}

.addcontent{
    width: 100%;
    height: 30px;
    margin-top:40px;
}
#addvalue{
    width: 295px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
}
.addcontent span{
    width: 110px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    background: #0077aa;
    border-radius: 4px;
    margin-left:10px;
    cursor: pointer;
}
.addcontent h1{
    width: 100%;
    height: 1px;
    background: #e5e5e5;
}

.guanlilist{
    width: 100%;
    height: 20px;
}
.guanlilist span{
    color: #0077aa;
    cursor: pointer;
}
.guanlilist span:hover{
    text-decoration: underline;
}
.guanlilist span.emptylist{
    margin-left:10px;
}
.namelist{
    width: 100%;
    overflow: hidden;
}
.namelist li{
    width: 100% ;
    height: 30px;
    line-height: 30px;
    background: #e5e5e5;
    padding: 0px 10px;
    margin-top:10px;
    color: #333;
}
.namelistdel{
    float: right;
}
.namelistcon{
    margin-left: 6px;
}


.successMess{
        text-align:center;
        background-color: #e8f7e6;
        font-size: 14px;
        color: #1bd506;
        width:200px;
        margin-bottom:15px;
    }
    
    .errorMess{
        text-align:center;
        background-color: #ffd1d1;
        font-size: 14px;
        color: #ff0000;
        width:200px;
        margin-bottom:15px;
    }


