body{
	background-color: #f5f5f5;
}
.pagination {
	text-align: right;
	width: 100%;
}
.pagination span.current {
	background: #29abe2 none repeat scroll 0 0;
	border-radius: 3px;
}
.pagination a, .pagination span {
	display: inline;
	float: none;
}
.pagination a {
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	color: #666;
}
.pagination a, .pagination span {
	padding: 0.5em 1em;
}
#publish {
	padding: 22px 0px;
	margin-top: 50px;
}
#publish-head {
	margin-bottom: 25px;
}
#publish-head>span {
	display: inline-block;
}
#publish-head .name {
	font-size: 20px;
	margin-right: 11px;
}
#publish-head .add-icon {
	background-image: url("../images/myPublish.png");
	background-repeat: no-repeat;
	background-position: -91px -28px;
	width: 18px;
	height: 18px;
	margin-top: 2px;
	margin-bottom: -2px;
	cursor: pointer;
	position: relative;
}
.norepnum{
	width: 100%;
	overflow: hidden;
	text-align: center;
	display: none;
}
.fabucon{
	position: absolute;
	padding:10px 15px;
	line-height: 24px;
	color: #333333;
	background: #ffffff;
	left:30px;
	top:-22px;
	display: none;
}
#noitem a{
	color:#ff1c1c;
}
#noitem a:hover{
	color: #ff1c1c;
	text-decoration: underline;
}
.fabucon p{
	white-space:nowrap;
}
.fabucon p:hover{
	color: #0077aa;
	text-decoration: underline;
}
#publish-body .repocount{
	font-size: 14px;
	margin-bottom: 11px;
}
#publish-body .repolist .reporecord {
	margin-bottom: 25px;
	background-color: #fff;
}
#publish-body .repolist .describe {
	padding: 20px;
	border: 1px solid #e5e5e5;
	cursor: pointer;
}
#publish-body .repolist .describe .head {
	margin-bottom: 20px;
}
#publish-body .repolist .reporecord .describe .head .head-text {
	font-size: 22px;
	color: #0077aa;
}
#publish-body .repolist .describe .head>span {
	display: inline-block;
}
#publish-body .repolist .describe .head .head-icon1{
	background-image: url("../images/myPublish.png");
	background-repeat: no-repeat;
	background-position: -20px -28px;
	width: 40px;
	height: 17px;
	margin-top: 2px;
	margin-bottom: -2px;
	margin-left: 5px;
}
#publish-body .repolist .describe .head .head-icon2{
	background-image: url("../images/myPublish.png");
	background-repeat: no-repeat;
	background-position: -166px -28px;
	width: 20px;
	height: 20px;
	margin-top: 2px;
	margin-bottom: -2px;
	float: right;
}
#publish-body .repolist .describe .head .head-icon2:hover{
	background-image: url("../images/myPublish.png");
	background-repeat: no-repeat;
	background-position: -204px -26px;
	cursor: pointer;
}
#publish-body .repolist .describe .body {
	font-size: 14px;
	line-height: 24px;
	color: #242424;
	margin-bottom: 20px;
}
#publish-body .repolist .describe .tail>span {
	font-size: 0px;
}
#publish-body .repolist .describe .tail span {
	display: inline-block;
}
#publish-body .repolist .describe .tail>span span{
	font-size: 12px;
	color: #989898;
}

#publish-body .repolist .describe .tail .right {
	float: right;
}
#publish-body .repolist .describe .tail .left .icon {
	margin-right: 3px;
}
#publish-body .repolist .describe .tail .left .val {
	margin-right: 10px;
}
#publish-body .repolist .describe .tail .right .icon {
	margin-left: 10px;
}
#publish-body .repolist .describe .tail .right .val {
	margin-left: 3px;
}

#publish-body .repolist .describe .tail .left .left1-icon{
	background-image: url("../images/myPublish.png");
	background-repeat: no-repeat;
	background-position: -21px -126px;
	width: 15px;
	height: 15px;
	margin-top: 2px;
	margin-bottom: -2px;
}
#publish-body .repolist .describe .tail .left .left2-icon{
	background-image: url("../images/myPublish.png");
	background-repeat: no-repeat;
	background-position: -113px -126px;
	width: 15px;
	height: 15px;
	margin-top: 2px;
	margin-bottom: -2px;
}
#publish-body .repolist .describe .tail .left .left3-icon{
	background-image: url("../images/myPublish.png");
	background-repeat: no-repeat;
	background-position: -163px -126px;
	width: 15px;
	height: 15px;
	margin-top: 2px;
	margin-bottom: -2px;
	margin-top: 2px;
	margin-bottom: -2px;
}
#publish-body .repolist .describe .tail .left .left4-icon{
	background-image: url("../images/myPublish.png");
	background-repeat: no-repeat;
	background-position: -223px -126px;
	width: 15px;
	height: 15px;
	margin-top: 2px;
	margin-bottom: -2px;
}
#publish-body .repolist .describe .tail .right .right1-icon{
	background-image: url("../images/myPublish.png");
	background-repeat: no-repeat;
	background-position: -20px -76px;
	width: 15px;
	height: 15px;
	margin-top: 2px;
	margin-bottom: -2px;
}
#publish-body .repolist .describe .tail .right .right2-icon{
	background-image: url("../images/myPublish.png");
	background-repeat: no-repeat;
	background-position: -65px -76px;
	width: 15px;
	height: 15px;
	margin-top: 2px;
	margin-bottom: -2px;
}
#publish-body .repolist .describe .tail .right .right3-icon{
	background-image: url("../images/myPublish.png");
	background-repeat: no-repeat;
	background-position: -110px -76px;
	width: 15px;
	height: 15px;
	margin-top: 2px;
	margin-bottom: -2px;
}

#publish-body .repolist .tablelist {
	border: 1px solid #e5e5e5;
	border-top: none;
}
#publish-body .repolist .tablelist .dhead {
	padding: 27px 55px 16px 55px;
	background-color: #eef8ff;
}
#publish-body .repolist .tablelist span {
	display: inline-block;
}
#publish-body .repolist .tablelist div {
	font-size: 0px;
}
#publish-body .repolist .tablelist .dhead span, #publish-body .repolist .tablelist .dbody span {
	font-size: 14px;
	width: 25%;
	word-break: keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#publish-body .repolist .tablelist .dbody .row{
	margin:0px 55px;
	border-bottom: 1px solid #e5e5e5;
}
#publish-body .repolist .tablelist .dbody span{
	height: 36px;
	line-height: 36px;
}
#publish-body .repolist .reporecord .tablelist .dtable .dbody .row .col1 a:hover{
	text-decoration: underline;
	color: #666;
}
#publish-body .repolist .tablelist .dbody .col1, #publish-body .repolist .tablelist .dhead .col1 {
	padding-left: 41px;
	text-align: left;
}
#publish-body .repolist .tablelist .dbody .col2, #publish-body .repolist .tablelist .dbody .col3,
#publish-body .repolist .tablelist .dhead .col2, #publish-body .repolist .tablelist .dhead .col3 {
	text-align: center;
}
#publish-body .repolist .tablelist .dbody .col4, #publish-body .repolist .tablelist .dhead .col4 {
	padding-right: 41px;
	text-align: right;
}
#publish-body .repolist .tablelist .dtail {
	padding: 15px 62px 15px 0px;
	overflow:hidden;
}
#publish-body .repolist .tablelist .dtail span {
	display: inline-block;
}
#publish-body .repolist .tablelist .dtail>span {
	float: right;
}
#publish-body .repolist .tablelist .dtail>span span{
	cursor: pointer;
}
#publish-body .repolist .tablelist .dtail .icon1 {
	background-image: url("../images/myPublish.png");
	background-repeat: no-repeat;
	background-position: -92px -28px;
	width: 18px;
	height: 18px;
	margin-top: 2px;
	margin-bottom: -2px;
	margin-right: 19px;
}
#publish-body .repolist .tablelist .dtail .icon2 {
	background-image: url("../images/myPublish.png");
	background-repeat: no-repeat;
	background-position: -127px -28px;
	width: 18px;
	height: 18px;
	margin-top: 2px;
	margin-bottom: -2px;
}
.addcontent{
	width: 100%;
	height: 30px;
	margin-top:40px;
}
#addvalue{
	width: 295px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #c7c7c7;
	border-radius: 4px;
}
.addcontent span{
	width: 110px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
	display: inline-block;
	background: #0077aa;
	border-radius: 4px;
	margin-left:10px;
	cursor: pointer;
}
.addcontent h1{
	width: 100%;
	height: 1px;
	background: #e5e5e5;
}
.guanlilist{
	width: 100%;
	height: 20px;
}
.guanlilist span{
	color: #0077aa;
	cursor: pointer;
}
.guanlilist span:hover{
	text-decoration: underline;
}
.guanlilist span.emptylist{
	margin-left:10px;
}
.namelist{
	width: 100%;
	overflow: hidden;
}
.namelist li{
	width: 100%	;
	height: 30px;
	line-height: 30px;
	background: #e5e5e5;
	padding: 0px 10px;
	margin-top:10px;
	color: #333;
}
.namelistdel{
	float: right;
}
.namelistcon{
	margin-left: 6px;
}
/*添加仓库*/
#addRep .modal-dialog{
	width: 520px;
}
#editBox .modal-dialog{
	width: 600px;
	background: #fff;
 border-radius: 5px;
}
#editBox .modal-dialog .modal-content .modal-body{
	min-height: 550px;
}
#addRep .head{
	margin-bottom: 30px;
}
#addRep .head span  {
	font-size: 20px;
	color: #333;
}
#addRep .repname .key,#addRep .repcomment .key,#addRep .property .key,.managename{
	font-size: 14px;
	color: #29abe2;
	margin-bottom: 10px;
}
.namenum{
	color: #333;
	margin-left: 5px;
}
.editicon{
	margin-left: 10px;
	cursor: pointer;
	padding:3px 10px;
	background: url("../images/allow_icon.png") no-repeat;
	background-position: 3px 5px;
}
.editicon:hover{
	background-position: -21px 5px;
}
#addRep .repname .value input{
	width: 458px;
	height: 38px;
	padding: 0px 10px;
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	background-color: #fff;
	font-size: 14px;
	color: #666;
	margin-bottom: 30px;
}
#addRep .repcomment .value textarea{
	width: 458px;
	height: 112px;
	padding: 0px 10px;
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	background-color: #fff;
	font-size: 14px;
	color: #666;
	margin-bottom: 30px;
}
#addRep .property .value select{
	width: 92px;
	height: 24px;
	font-size: 14px;
	color: #666;
	margin-bottom: 30px;
	border-radius: 5px;
	padding-left: 23px;
	border: 1px solid #666;
}
.property{
	margin-bottom: 20px;
}
#addRep .submit input{
	width: 458px;
	height: 40px;
	background-color: #29abe2;
	color: #fff;
	font-size: 18px;
	text-align: center;
	border-radius: 5px;
	border:0 none;
}
#addRep .submit input:hover {
	background-color: #1998ce;
}

.shuxing{
	padding:3px 20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
}

@media screen and (max-width: 768px) {
	#publish-body .repolist .describe .tail {
		overflow: hidden;
	}
	#publish-body .repolist .describe .tail .left {
		float: left;
	}
	#publish-body .repolist .describe .tail .right {
		float: left;
		clear: left;
	}
	#publish-body .repolist .describe .tail .right .right1-icon:nth-child(1) {
		margin-left: 0px;
	}
	#publish-body .repolist .tablelist .dhead{
		display: none;
	}
	#publish-body .repolist .tablelist .dbody .row > span{
		text-align: left;
		float: left;
		padding-left: 20px;
		width: 50%;
	}
	#publish-body .repolist .tablelist .dbody .row > span:nth-child(2n+1) {
		clear: left;
	}
	#publish-body .repolist .tablelist .dbody .row{
		margin: 0px 0px 0px 0px;
	}
}
@media screen and (max-width: 420px) {
	#publish-body .repolist .describe .tail > span span {
		margin-bottom: 5px;
		float: left;
	}
	#publish-body .repolist .describe .tail > span span:nth-child(2n+1) {
		clear: left;
	}
	#publish-body .repolist .describe .tail .left {
		margin-bottom: 20px;
	}
	#publish-body .repolist .describe .tail .right .icon {
		margin-left: 0px;
	}
	#publish-body .repolist .tablelist .dbody .row > span {
		width: 100%;
		display: block;
		float: none;
	}
}