#dataitem {
    overflow:auto;
    padding-left: 0px;
    padding-right: 40px;
    margin-top:50px;
    padding-bottom: 50px;
}
#dataitem-left{
    width: 75%;
    padding-right: 20px;
    float: left;
}
#dataitem-right{
    width: 25%;
    padding-left: 20px;
    float: right;
}
#dataitem-head {
    height: 50px;
    line-height: 50px;
    background-color: #f7fafc;
    margin-bottom: 20px;
}
#dataitem-body>div {
    margin-bottom: 30px;
}
#dataitem-head-left {
    width: auto;
    height: 100%;
    font-size: 20px;
    color: #29abe2;
}
#dataitem-head-right {
    width: auto;
    height: 100%;
    font-size: 14px;
    color: #333;
    padding-right: 10px;
}
#dataitem-head-right span{
    float: left;
}
#dataitem-head-right span.star-icon,#dataitem-head-right span.subscript-icon,#dataitem-head-right span.downloaded-icon{
    height:50px;


}
#dataitem-head-right>span,#introduce4 .icons>span,.rightsimg>span{
    display: inline-block;
    font-size: 12px;
    color: #666;
}

#introduce4 .icons>span,.rightsimg>span{
    float: left;
}
#dataitem-head-right .star-icon, #introduce4 .icons .star-icon,.rightsimg .star-icon {
    background-image: url("../images/slice.png");
    background-repeat: no-repeat;
    background-position: -60px -5px;
    width: 15px;
    height: 15px;
    line-height: 50px;
}
.rightsimg .star-icon{
      background-position: -60px -5px;
}
#dataitem-head-right .star-icon{
    background-position:-60px center ;
}
.rightsimg .time-icon{
     background-image: url("../images/slice.png");
     background-repeat: no-repeat;
     background-position: 1px -5px;
     width: 15px;
     height: 15px;
     line-height: 50px;
 }
.rightsimg .browse-icon{
    background-image: url("../images/slice.png");
    background-repeat: no-repeat;
    background-position: -27px -5px;
    width: 15px;
    height: 15px;
    line-height: 50px;
    margin-left:3px;
}
#dataitem-head-right .subscript-icon, #introduce4 .icons .subscript-icon,.rightsimg .subscript-icon{
    background-image: url("../images/slice.png");
    background-repeat: no-repeat;
    background-position: -93px -5px;
    width: 15px;
    height: 15px;
    line-height: 50px;
    margin-left: 8px;
}
#dataitem-head-right .subscript-icon{
    background-position:-124px center ;
}
#dataitem-head-right .downloaded-icon, #introduce4 .icons .downloaded-icon,.rightsimg .downloaded-icon {
    background-image: url("../images/slice.png");
    background-repeat: no-repeat;
    background-position: -125px -5px;
    width: 15px;
    height: 20px;
    line-height: 50px;
    margin-left: 8px;
}
#dataitem-head-right .downloaded-icon{
    background-position:-92px center ;
}
.tab-head{
    width: 100%;
    overflow: hidden;
}
.tab-head .tab-head-div {
    font-size: 16px;
    color: #fff;
    background-color: #29abe2;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px 5px 0px 0px;
    float: left;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab-head .tab-head-icon {
    background-image: url("../images/slice.png");
    background-repeat: no-repeat;
    background-position: -156px 0px;
    width: 20px;
    height: 32px;
    line-height: 32px;
    margin-top: 5px;
    margin-bottom: -5px;
    float: left;
}
#dataitem-tag #show-message {
    width: 180px;
    height: 70px;
    border: 5px solid #e5e5e5;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    text-align: center;
    line-height: 60px;
}
#dataitem-tag #show-message a{
    color: #29abe2;
}
#dataitem-tag #show-message a:hover{
    cursor: pointer;
}
#dataitem-tag .tag-body{
    clear: both;
    overflow: hidden;
    background-color: #f7fafc;
}
#dataitem-exemple .exemple-body{
    clear: both;
    min-height: 160px;
    background-color: #f7fafc;
}
#dataitem-metadata .metadata-body{
    clear: both;
    min-height: 160px;
    background-color: #f7fafc;
}
#dataitem-tag .tag-body table{
    clear: both;
    width: 100%;
    border: 1px solid #e5e5e5;
    background-color: #f7fafc;
    font-size: 14px;
    color: #666;
    table-layout:fixed;
}
#dataitem-tag .tag-body tr{

}
#dataitem-tag .tag-body td{
    /*word-break: keep-all;*/
    /*white-space:nowrap;*/
    /*overflow:hidden;*/
    /*text-overflow:ellipsis;*/
    padding:8px;
}
#dataitem-tag .tag-body .tag-4 .plaintext{
    width: 60%;
    height: 22px;
    border: 1px solid #e5e5e5;
    border-right: none;
    padding-left: 5px;
    font-size: 14px;
    color: #333;
    margin-right: -4px;
}
#dataitem-tag .tag-body .tag-4 .btn{
    width: 48px;
    height: 22px;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #333;
    padding: 0px;
    border-radius: 0px;
    margin-top: -1px;
    margin-bottom: 1px;
}
#dataitem-tag .tag-body .tag-5 .btn{
    width: 68px;
    height: 22px;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #333;
    padding: 0px;
}
#dataitem-tag .tag-body .tag-5 .btn:hover{
    border: none;
    color: #fff;
    background-color: #29abe2;
}
#dataitem-right {
    padding: 20px 40px 20px 20px;
}
#introduce1 {
    padding-bottom: 5px;
}
#introduce1 .introduce1-head {
    font-size: 18px;
    color: #333;
}
#introduce1 .introduce1-body {
    font-size: 14px;
    color: #666;
    line-height: 24px;
}
#introduce2 .a-icon {
    background-image: url("../images/slice.png");
    background-repeat: no-repeat;
    background-position: 0px 1px;
    width: 15px;
    height: 20px;
    margin-top: -4px;
    margin-bottom: 4px;
    float: left;
}
#introduce2 .a-value {
    font-size: 12px;
    color: #333;
    height: 100%;
    line-height: 20px;
}
#introduce2 .introduce2-a {
    margin-bottom: 10px;
}
.filletspan{
    text-align: center;
}
.filletspan>span {
    display: inline-block;
    height: 20px;
    font-size: 12px;
    color: #fff;
    border-radius: 2px;
    margin-right: 1px;
    padding: 0px 10px;
    line-height: 20px;
}
#introduce2 .introduce2-b {
    clear: both;
    width: 278px;
    border: 1px solid #e5e5e5;
    height: 22px;
}
#introduce2 .introduce2-c {
    clear: both;
}
#introduce2 .introduce2-c>span {
    clear: both;
    display: inline-block;
    width: 120px;
    height: 56px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}
#introduce2 .introduce2-c .row1 {
    font-size: 12px;
    color: #333;
}
#introduce2 .introduce2-c .row2 {
    font-size: 12px;
    color: #666;
}
#introduce2 .introduce2-c .col1 {
    margin-right: 8px;
}
#introduce3 .introduce3-icon {
    background-image: url("../images/slice.png");
    background-repeat: no-repeat;
    background-position: -202px -4px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    float: left;
}
#introduce3 .introduce3-text {
    font-size: 16px;
    color: #29abe2;
    cursor: pointer;
}
#introduce3 {
    /*TODO ÉÏ±ß¾à²»¹»£¬Í¬ÉÏ*/
    margin-top: 20px;
    margin-bottom: 20px;
}
#introduce4 {
    padding-bottom: 10px;
}
#introduce4 .introduce4-head {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
#introduce4 .introduce4-body>div {
    position: relative;
    width: 250px;
    height: 80px;
    border: 1px solid #e5e5e5;
    padding: 20px 20px 0px 30px;
}
#introduce4 .introduce4-body>div:hover{
    border: 1px solid #29abe2;
    cursor: pointer;
}
#introduce4 .introduce4-body>div:hover .num{
    color: #fff;
    background-color: #29abe2;
}
#introduce4 .introduce4-body>div:hover .name{
    font-size: 16px;
    color: #29abe2;
}
#introduce4 .introduce4-body>div .num {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    text-align: center;
    line-top: 20px;
    background-color: #f5f5f5;
}
#introduce4 .introduce4-body>div .name {
    font-size: 16px;
    color: #666;
}
@media screen and (max-width: 768px){
    #dataitem-right {
        width: 100%;
        float: left;
    }
    #dataitem-left {
        width: 100%;
        padding-left: 20px;
        padding-right: 0px;
        clear: left;
    }
    #dataitem-tag .tag-body td{
        width: 50%;
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #dataitem-tag .tag-body tr td:nth-child(2), #dataitem-tag .tag-body tr td:nth-child(4) {
        clear: right;
    }
}
@media screen and (max-width: 420px){
    #dataitem-tag .tag-body td{
        width: 100%;
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.cur_name div{
    height: 14px;
    padding-left:10px;
    padding-right:0px;
    margin-top:3px;
    overflow: hidden;
    font-size: 14px;
    line-height: 14px;
}
.haveuser{
    float: right;
    margin-right:10px;
    color: #666 ;
    font-size: 12px;
}
.haveuser a:link,.haveuser a:visited{
     color: #666 ;
}
.haveuser a:hover{
   color: #29abe2;
    text-decoration: underline;
}
.nofloat span{
    float: right;
}
.introduce3-text a:hover{
    color:#337ab7;
}
.filletspan span.period {
    background-color: #29abe2;
    height: 20px;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    padding:0px 10px;
    border-radius: 2px;
    margin-left:1px;
}
.filletspan span.api {
    background-color: #f06f77;
    height: 20px;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    padding:0px 10px;
    border-radius: 2px;
    margin-left:1px;
}
.filletspan span.flot-data {
    background-color: #fc9b00;
    height: 20px;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    padding:0px 10px;
    border-radius: 2px;
    margin-left:1px;
}
.aboutrep{
    font-weight: normal;
}
.box-wrop{
   padding-left:40px;
}
.tab-head .tab-head-div a:hover{
    text-decoration: underline;
}
.pagination a,.pagination span{
    display: inline;
    float: none;
}
.repNamebg{
    margin-left:40px;
    margin-right:7px;
    width: 20px;
    height: 50px;
    float: left;
    background: url("../images/sliceU1.png") no-repeat -338px center;
}
.repcreate_user:link,.repcreate_user:visited{
    font-size: 12px;
    color: #666;
}
.repcreate_user:hover{
    color:#29abe2;
    text-decoration: underline;
}
.pagination a, .pagination span{
    padding:0.5em 1em;
}
.pagination a{
    border:1px solid #e5e5e5;
    color: #666;
     border-radius: 3px;
}
.pagination span.current{
   border-radius: 3px;
   background: #29abe2;
}
.pagination{
    width: 100%;
    text-align: right;
}
.nav > li > a:hover{
    background-color:rgba(31,154,218,0.7);
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-nav > li > a:focus{
    background:none;
}