
#navigator-ul li{
    border-bottom:1px solid #748ab8;
    color:#29abe2;
    font-size:16px;
    height:60px;
}

#navigator-ul li:hover{
    cursor: pointer;
}

.title{
    padding:40px 0px 70px 0px;
    width: 100%;
    overflow: hidden;
}
.titlename{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;

    word-wrap:break-word;
    padding-bottom: 20px;
    border-bottom: 1px solid #c8c8c8;

}
.titlename a{
    color: #43609f;
}
.titlename a:hover{
    color:#395289;
}
.titleicon{
    width: 100%;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    margin-top:20px;
}
.iconiamg1{
    margin-right:15px;margin-left:60px
}
.iconiamg2{
    margin-right:15px;margin-left:50px
}
.titleicon span{
    padding:0px 50px 0px 15px;
    color: #666666;
    font-size:12px;
}
.icon span{
    color: #b5b5b5;
}
.repo {
    width: 870px;
    float: left;
    border-top:1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 60px;
}
.repo:hover{
    background-color:#f4fbfe;
    border-color: #f4fbfe;
    cursor: pointer;
}
.left{
    width:590px;
    float:left;
}

.subtitle{
    float: left;
    width: 100%;
    overflow: hidden;
}
.description{
    float:left;
    width: 100%;
    overflow: hidden;
}

.subtitle a{
    font-size:20px;
    color:#43609f;
    margin-top: 21px;
    margin-left: 30px;
    margin-bottom: 20px;
    float: left;
    font-weight: bold;
}
.subtitle a:hover{
    color: #395289;
}
.description p{
    font-size: 14px;
    color: #333333;
    margin-left: 30px;
    line-height: 20px;
    float:left;
}
.subline{
    float:left;
    width:100%;
    /*margin-bottom:20px;*/
    /*margin-top:20px*/
}
.lable{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom:20px;
    width: 44%;
    overflow: hidden;
    float: left;

}
.lable p{
    margin-right:5px;
    height:20px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    float: left;
    border-radius: 3px;
    font-size: 12px;
    font-color: #666666;
}
.lable p.period {
    border:1px solid #29abe2;
}
.lable p.thislabels {
    border:1px solid #666666;
}
.lable p.personaltag{
    border:1px solid #6ecbcc;
}
.lable p.api {
    border:1px solid #eb6877;
}
.lable p.flot-data {
    border:1px solid #fc9b00;
}

.icon{
    width: 50%;
    overflow: hidden;
    float: left;
    margin-top: 20px;
    margin-bottom:20px;
}
.icon p{
    font-size: 12px;
    color:#666666;
    margin-right: 50px;
    margin-right: 60px;
    margin-top: 20px;
    float:left;
}

.supplier {
    margin-bottom: 22px;
    margin-left: 30px;
    font-size: 12px;
    color:#666666;
    float:left;
    width: 100%;
    overflow: hidden;
}
.supplier a{
    font-size: 12px;
    color:#43609f;
}

.supplier a:hover{
    color: #395289;
}
.right{
    width:160px;
    float:left;
    /*height: 225px;*/
    overflow: hidden;
    margin-left:97px;
    margin-right:20px;
}
.like span,.cart span,.download span{
    margin-left: 20px;
}
.icon img{

}
.price{
    width:180px;
    margin-top:30px;
    /*margin-left:90px;*/
    margin-bottom: 29px;
    float: left;
}
.price p{
    border:2px solid #f49f12;
    border-radius: 3px;
    display: inline;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #f49f12;
    font-size: 16px;
}
.iconGroup {
    width:160px;
    float:left;
    border-top: 1px solid #c8c8c8;
    /*margin-left: 90px;*/
    font-size: 12px;
    color: #b5b5b5;
}
.like{
    margin-top: 20px;
    padding-right: 20px;
    width:50%;
    float:left;
}

.cart{
    margin-top: 20px;
    padding-right: 20px;
    width: 50%;
    float:left;
}

.download{
    padding-top: 15px;
    padding-right: 20px;
    float:left;
}

#li1:hover{
}
.span_time{
    margin-top:20px;
}

#main-right{
    float:right;
    width:260px;
    padding-left: 40px;
    margin-top:50px;
}
#about{
    border-top: 1px solid #8c97cb;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #8c97cb;
}
#main-right h3{
    font-size: 16px;
    color: #666;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
#about article{
    font-size: 14px;
    width: 100%;
    line-height: 24px;
}


.cur_users a{
    font-size: 14px;
    color: #43609f;
    font-weight:bold;
}
.cur_users a:hover{
    color: #395289;
}
.itemList{
    width: 100%;
    overflow: hidden;
}
/*下半部分*/
#client_down {
    padding-top:30px;

}
.pagination a, .pagination span {
    padding: 0.5em 1em;
}
.pagination a {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #666;
}
.pagination span.current {
    background: #29abe2 none repeat scroll 0 0;
    border-radius: 3px;
}
.pagination {
    text-align: right;
    width: 100%;
}
.pagination a, .pagination span {
    display: inline;
    float: none;
}
.gotop{
    width: 35px;
    height: 35px;
    background:url("../images/image_112.png") no-repeat;
    position: fixed;
    right: 27px;
    bottom: 100px;
    cursor: pointer;
    display: none;
}
.gotop:hover{
    background:url("../images/image_117.png") no-repeat;
}