		a{
			color:#666;
		}
		.navLabelMo {
			border: 1px solid #29abe2;
			color: #29abe2;
			cursor: pointer;
		}

		#navigator {
			background-color: #f7fafc;
		}
		#navigator-name {
			font-size: 18px;
			color: #333;
			padding-bottom: 20px;
		}
		#navigator-ul li{
			width: 100%;
			height: 38px;
			border: 1px solid #ccc;
			border-radius: 20px;
			background: #fff;
			font-size: 16px;
			color: #666;
			text-align: center;
			line-height: 38px;
			margin-bottom: 20px;
		}
		#navigator-ul li:hover {
			border: 1px solid #29abe2;
			color: #29abe2;
			cursor: pointer;
		}
		#navigator-ul10 li{
			width: 100%;
			height: 38px;
			border: 1px solid #ccc;
			border-radius: 20px;
			background: #fff;
			font-size: 16px;
			color: #666;
			text-align: center;
			line-height: 38px;
			margin-bottom: 20px;
		}
		#navigator-ul10 li:hover {
			color: #fff;
			cursor: pointer;
		}
		#terminal-content-head {
			font-size: 18px;
			color: #333;
			margin-bottom: 20px;
		}
		#terminal-content-body .repo-head-left {
			font-size: 16px;
			color: #fff;
			height: 32px;
			line-height: 32px;
			padding:0px 10px;
			border-radius:5px 5px 0px 0px;
			float:left;
			border-bottom:32px solid #29abe2;
			border-right:12px solid transparent;
		}
		#terminal-content-body .repo-head-right{
			font-size: 14px;
			color: #666;
			height: 32px;
			line-height: 32px;
			padding-right: 10px;
			text-align: right;
			float: right;
		}

		#terminal-content-body .repo-body {
			padding: 10px 10px 14px 10px;
			font-size: 14px;
			color: #666;
			line-height: 24px;
			border: 1px solid #e5e5e5;
			margin-bottom: 30px;
			float:left;
			width:100%;
		}
		#terminal-content-body .repo-body-tail {
			margin-top: 10px;
			height:100%;
			float:left;
			width:100%;
		}
		#terminal-content-body .repo-body-tail-left {
			width: 33%;
			text-align: left;
			float:left;
		}
		#terminal-content-body .repo-body-tail-mid {
			width: 33%;
			text-align: center;
			float:left;
		}
		#terminal-content-body .repo-body-tail-mid span {
			height: 20px;
			font-size: 12px;
			color: #333;
			border-radius: 2px;
			margin-right: 1px;
			padding: 0px 10px;
			line-height: 20px;
		}
		#terminal-content-body .repo-body-tail-right {
			width: 33%;
			text-align: right;
			float:left;
		}
		#terminal-content-body .updatetime-icon {
			background-image: url("../images/slice.png");
			background-repeat: no-repeat;
			/*background-attachment: fixed;*/
			background-position: 3px -3px;
			width: 20px;
			height: 20px;
			margin-right: 5px;
			float:left;
		}
		#terminal-content-body .updatetime-value {
			font-size: 14px;
			color: #333;
			margin-right: 10px;
			float:left;
			line-height:20px;		
		}
		#terminal-content-body .tag-icon {
			background-image: url("../images/slice.png");
			background-repeat: no-repeat;
			/*background-attachment: fixed;*/
			background-position: -28px -3px;
			width: 20px;
			height: 20px;
			float:left;
			margin-right:5px;
		}
		#terminal-content-body .tag-value {
			font-size: 14px;
			color: #333;
			margin-right: 10px;
			float:left;
			line-height:20px;	
		}
		#terminal-content-body .flot-data {
			background-color: #fc9b00;
			height: 20px;
			font-size: 12px;
			color: #fff;
			line-height: 20px;
			float:left;
			padding:0px 10px;
			border-radius: 2px;
			margin-left:1px;
		}
		#terminal-content-body .period {
			background-color: #29abe2;
			height: 20px;
			font-size: 12px;
			color: #fff;
			line-height: 20px;
			float:left;
			padding:0px 10px;
			border-radius: 2px;
			margin-left:1px;
		}
		#terminal-content-body .api {
			background-color: #f06f77;
			height: 20px;
			font-size: 12px;
			color: #fff;
			line-height: 20px;
			float:left;
			padding:0px 10px;
			border-radius: 2px;
			margin-left:1px;
		}
		#terminal-content-body .charge {
			background-color: #6ecbcc;
			height: 20px;
			font-size: 12px;
			color: #fff;
			line-height: 20px;
			float:left;
			padding:0px 10px;
			border-radius: 2px;
			margin-left:1px;
		}
		#terminal-content-body .star-icon {
			background-image: url("../images/slice.png");
			background-repeat: no-repeat;
			/*background-attachment: fixed;*/
			background-position: -58px -3px;
			width: 20px;
			height: 20px;
			margin-right: 5px;
			float:left;
		}
		#terminal-content-body .star-value {
			font-size: 14px;
			color: #333;
			margin-right: 10px;
			float:left;
			line-height:20px;
		}
		#terminal-content-body .subscript-icon {
			background-image: url("../images/slice.png");
			background-repeat: no-repeat;
			/*background-attachment: fixed;*/
			background-position: -88px -3px;
			width: 20px;
			height: 20px;
			margin-right: 5px;
			float:left;
		}
		#terminal-content-body .subscript-value {
			font-size: 14px;
			color: #333;
			margin-right: 10px;
			float:left;
			line-height:20px;
		}
		#terminal-content-body .downloaded-icon {
			background-image: url("../images/slice.png");
			background-repeat: no-repeat;
			/*background-attachment: fixed;*/
			background-position: -118px -3px;
			width: 20px;
			height: 20px;
			margin-right: 5px;
			float:left;
		}
		#terminal-content-body .downloaded-value {
			font-size: 14px;
			color: #333;
			float:left;
			line-height:20px;
		}
		
		#repo-text{
			float:left;
		}
		
		#navigator10{
			display: none;
		}
		
		.shwr{
			float:right;
		}
		.repo-head{
			float: left;
			width:100%;
		}
		
		#lComs{
			padding: 20px 40px 0px 20px;float:right;margin-bottom:50px;
		}
		
		#navigator10{
			padding: 20px 20px;width: 100%;float: right;
		}
		
		.repo-head-right a:hover{
			color:#337ab7;
			text-decoration:underline;
		}
		
		
@media (max-width:768px) {
	
	#navigator{
		display: none;
	}
	
	#navigator10{
		display:block;
	}
	
	#terminal-content-body .repo-body-tail-mid{
		width: 100%;
		margin:10px 0px;
	}
	
	#terminal-content-body .repo-body-tail-left{
		width: 100%;
	}
	
	#terminal-content-body .repo-body-tail-right{
		width:100%;
	}
	
	#terminal-content-body .repo-head-right{
		float:left;
		width:100%;
		text-align:left;
	}
	
	.shwr{
		float: left;
	}
	
	#navigator-ul li{
		width: 50%;
		float: left;
	}
	
	#navigator-ul10 li{
		width: 50%;
		float: left;
	}
	
}	


@media (max-width:420px) {
	#navigator10{
		padding:20px 0px;
	}
	#navigator-ul li {
	    float: left;
	    font-size: 10px;
	    margin-left: 10px;
	    width: 25%;
	    border: none;
	    color: #fff;
	}
	#navigator-ul10 li {
	    float: left;
	    font-size: 10px;
	    margin-left: 10px;
	    width: 25%;
	    border: none;
	    color: #fff;
	}
	#lComs{
		padding:0px 20px;
	}
	
	#navigator-ul li:nth-child(1){
		background-color: #fc9b00;
	}
	
	#navigator-ul li:nth-child(2){
		background-color: #01238f;
	}
	
	#navigator-ul li:nth-child(3){
		background-color: #29abe2;
	}
	
	#navigator-ul li:nth-child(4){
		background-color: #f06f77;
	}
	
	#navigator-ul li:nth-child(5){
		background-color: #6ecbcc;
	}
	
	#navigator-ul10 li:nth-child(1){
		background-color: #fc9b00;
	}
	
	#navigator-ul10 li:nth-child(2){
		background-color: #01238f;
	}
	
	#navigator-ul10 li:nth-child(3){
		background-color: #29abe2;
	}
	
	#navigator-ul10 li:nth-child(4){
		background-color: #f06f77;
	}
	
	#navigator-ul10 li:nth-child(5){
		background-color: #6ecbcc;
	}
	
	
	
	
	
	
	
}
		