.selectimgwrop{
    width: 100%;
    height: 55px;

}
.select{
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}
.select1{
    background:url("../images/selectphone1.png") no-repeat top center;
    background-size: contain;
}
.select2{
    background:url("../images/selectphone2.png") no-repeat top center;
    background-size: contain;
}
.select3{
    background:url("../images/selectphone3.png") no-repeat top center;
    background-size: contain;
}
.select4{
    background:url("../images/selectphone4.png") no-repeat top center;
    background-size: contain;
}
.select5{
    background:url("../images/selectphone5.png") no-repeat top center;
    background-size: contain;
}
.select6{
    background:url("../images/selectphone6.png") no-repeat top center;
    background-size: contain;
}
.select7{
    background:url("../images/selectphone7.png") no-repeat top center;
    background-size: contain;
}
.select8{
    background:url("../images/selectphone8.png") no-repeat top center;
    background-size: contain;
}
.imgwrop{
    width: 25%;
    height: auto;
    float: left;
    padding:0 3px;
    padding-top:20px;
}
.imgwrop p{
    font-size: 0.8em;
    text-align: center;
    margin-top:5px;
}
.partitionline{
    width: 100%;
    height: 30px;
    background: #f3fefa;
}
.topbox{
    padding:20px 10px;
   padding-top:5px;
}
.borderb{
    border-bottom: 1px solid #e6e6e6;
}
.boxwrop{
    padding-left:6%;
    padding-bottom: 50px;
}
.repinfo{
    padding:15px 0px;
    padding-left:47px;
    background:url("../images/allselect.png") no-repeat left center;
}
.repinfoList{
}
.repinfoList li{
    width: 100%;
    padding-right: 70px;
    padding:15px 0px;
    position: relative;
}
.listTop{
    line-height: 20px;
    font-size: 1.2em;
    color: #0077aa;
    width: 75%;
    word-wrap:break-word;
    /*overflow: hidden;*/
}
.listbt{
    line-height: 25px;
    font-size: 1em;
    color: #989898;
    width: 90%;
    word-wrap:break-word;
}
.listicon{
    width: 20px;
    height: 30px;
    background: url("../images/phonepic1.png") no-repeat right center;
    background-size: contain;
    position: absolute;
    top:34%;
    right: 6%;
}
/*.listicon a{*/
    /*width: 25px;*/
    /*height: 39px;*/
    /*display: block;*/
/*}*/
.repinfo{
    font-size: 1.2em;
    color: #000;
}
.listTop a:hover{
    color: #337ab7;
}
.btboxinfo{
    width: 100%;
    height: 30px;
    position: fixed;
    bottom:50px;
    color: #555555;
    left:0px;
    line-height: 30px;
    text-align: center;
    background: #000;
    opacity: 0.7;
    display: none;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}